/* about_page */
:root {
  --main_color: darkslategrey;
  --secondary_color: rgba(64, 64, 244, 0.5);
}
.about_page {
  /* display: grid; */
  /* place-items: center; */

  /* min-height: 300px; */
  max-width: 1250px;

  margin: 0 auto;
  margin-top: 2.5em;
  background-color: steelblue;
  padding: 1rem;
}
/* section */
.about_page section {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 6px;
  /* max-width: 100%; */
  /* background-color: red; */
  /* margin: 0 auto; */

  padding: 4px 1em;
}
/* img */
.about_page img {
  border: 2px solid darkslategrey;
  border-width: 6px;
  width: 100%;
  /* border-radius: 0px 50% 0px 50px; */
  clip-path: circle(50%);
}

.about_page h3 span {
  color: darkblue;
}
/* button */
.about_page .btn {
  padding: 1em;
  margin: 12px;
  border-radius: 12px;
  border: 2px solid darkblue;
  background-color: #ccc;
}

.about_page #div_about {
  /* background-color: green; */
  padding: 0 12px;
}

#id_resume {
  background-color: var(--secondary_color);
  margin-left: auto;
}
.about_page .btn:hover {
  cursor: pointer;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 769px) {
  .about_page {
    margin-block: 7em;
  }
  section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
}

@media (min-width: 769px) {
  .about_page {
    margin-block: 15em;
  }
}
