.projects_page {
  min-height: 100vh;
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 3px;
  /* background-color: var(--secondary_color); */

  padding: 1rem;
}

.projects_page h2 {
  margin-top: 2em;
  text-align: center;
}

.projects_page h2 span {
  color: var(thrd-color);
}

.projects_item {
  margin-block: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 6px;
  /* background-color: red; */
  padding: 4px 0;
}

.projects_item img {
  width: 100%;
  max-width: 300px;

  border-radius: 12px;
}

/* .projects_icon {
  background-color: green;
} */

.projects_icon > span {
  margin-inline: 12px;
}

@media (max-width: 769px) {
  .projects_item {
    margin-block: 1.3em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
}
@media (max-width: 480px) {
  .projects_item {
    margin-top: 0.8em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 12px;
  }

  .projects_page h2 {
    margin-top: 1.5em;
    text-align: center;
  }
}
