.services_page {
  display: grid;
  place-items: center;
  min-height: 100vh;
  max-width: 1250px;

  /* margin: 0 auto; */
  margin-inline: auto;
  margin-top: 3px;
  /* background-color: steelblue; */
  /* background-color: var(--secondary_color); */
  padding: 0.5rem;
}

.main_service {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 6px;
}
.service {
  background-color: #ccc;
  padding: 0.5em 1em;
  border-radius: 8px;
  border-block-start: 2px solid purple;
  border-width: 4px;
}

#service_heading {
  margin-top: 4em;
  text-align: center;
}

.service > button {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 8px;
  background-color: black;
  color: #fff;
}

/* .service:nth-child(2) > button {
  margin-top: 2.2em;
} */
@media (max-width: 769px) {
  #service_heading {
    margin-top: 2em;
  }
}
@media (min-width: 769px) {
  .main_service {
    margin-bottom: 6em;
  }
  #service_heading {
    margin-top: 7em;
  }
}

@media (max-width: 768px) {
  .main_service {
    overflow-x: hidden;

    width: 100%;
  }
}
@media (max-width: 480px) {
  .main_service {
    margin-bottom: 2em;
  }
  #service_heading {
    margin-top: 0px;
  }
}
