.main_section {
  /* display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* gap: 12px; */
  background-color: rgb(107, 22, 120);
  max-width: 1400px;
  padding: 0.5rem;
  margin: auto;
  overflow: hidden;

  min-height: 100vh;
}
